@keyframes activeSong {  
    from {
        color: rgb(226, 12, 12);

    }
    to {
        color: rgb(255, 255, 255); 
    }
  }
  
  .activeSongUpdate {
    animation-duration: 1.5s;
    animation-name: activeSong;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }