/* App main container */
.rootApp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5%;    
  }
  
  /* app container */
  .rootContainer {
    padding: 1em;
    background-image: url(https://media.istockphoto.com/photos/silver-textured-background-picture-id1135421909?b=1&k=20&m=1135421909&s=170667a&w=0&h=uuY6fpQXKVYmrk9zefSe3-PfEvjlSweSQt1AJrV0hEA=);
    border-radius: 1em;
    background-size: cover;
    box-shadow: 0px 0px 6px 8px white;
  }
